Digi-Knowledgebased.json
{
  "name": "Digi-Knowledgebased",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UiCR-5UWtzszhBUMzPTWcbGqO-LkVM5V",
          "mode": "list",
          "cachedResultName": "Digi",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UiCR-5UWtzszhBUMzPTWcbGqO-LkVM5V"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -16
      ],
      "id": "46a18031-fed8-4190-9dc1-a677cdd5d698",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PHnSawzCnx1vRR4G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -16
      ],
      "id": "df010a77-fed8-4d0f-9727-441cce4eac52",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PHnSawzCnx1vRR4G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-digi",
          "mode": "list",
          "cachedResultName": "n8n-digi"
        },
        "options": {
          "pineconeNamespace": "digi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        80,
        -16
      ],
      "id": "7d4bbfef-dda9-4124-abf1-12a796bb4428",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lEWsPhIucyHF5K5S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        176
      ],
      "id": "5e9541ee-db01-4413-b29e-17b8b20c6bef",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3UWwDKp43PiVziVO",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        144
      ],
      "id": "62025ad2-262d-4055-ac10-127e375f9c64",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        288,
        368
      ],
      "id": "5c97304a-7be3-48d4-866f-d176615d75e3",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "75fde085-7245-4404-bc95-a7e7eba67410",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c63074d2e9372aa5e1a1c2f09ef1dd01320fad2828dd8cd792a7691626e0533"
  },
  "id": "sR4GXVqetnzwMprgkGdef",
  "tags": []
}